@font-face {
  font-family: YekanPlus;
  src: url(../font/YeKan__PluS/YEKAN\ PLUS.TTF) format(truetype);
}
@font-face {
  font-family: BYekan;
  src: url(../font/Lalezar/BYekan+.ttf) format(truetyper);
}
