/* @media screen and (max-width: 480px) {
  .container {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1240px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1340px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1900px;
  }
} */




  @media screen and (max-width: 1100px) {
    .menu-titles {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 992px) {
    .menu-titles {
      font-size: 18px;
      padding-left: 120px;
      width: 60%;
    }
  }
  @media screen and (max-width: 768px) {
    .menu-titles {
      display: none;
    }
    .menu-icon {
      margin-top: -30px;
    }
    .header-mobile {
      display: flex;
      margin-top: 37px;
    }
    .menu {
      align-items: flex-start;
      margin-top: 0;
    }
  }